.body {
    padding: 30px;
    .mb-20 {
        margin-bottom: 20px;
    }
    .add-task {
        width: 100%;
        max-width: 500px;
        margin-top: 50px;
        margin-bottom: 50px;

        .input {
            padding-left: 10px;
            margin-right: 20px;
        }

        .btn {
            margin-left: 20px;
        }
    }

    .cont {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .with {
            width: 300px;

            .top {
                width: 100%;

                .left {
                    .name {
                        margin-left: 5px;
                    }
                }
                .right {
                    .icon-cont {
                        .icon {
                            margin-right: 10px;
                            cursor: pointer;
                            &:last-child {
                                margin: 0;
                            }
                        }
                    }
                }
            }
            .bottom {
                .colorBlue {
                    color: blue;
                }
                .colorGreen {
                    color: green;
                }
                .colorRed {
                    color: red;
                }
            }
        }
    }
}
